<div class="projects-details-header">
  <div class="projects-details-header__title">
    <h1>{{ project()?.title }}</h1>
  </div>
</div>

<div class="project-board" cdkDropListGroup>
  @for (status of statuses(); track status) {
    <div class="board-column"
         cdkDropList
         [cdkDropListData]="tasksByStatus()[status]"
         (cdkDropListDropped)="onTaskDrop($event, status)"
    >
      <h2>{{ getStatusLabel(status) }}</h2>

      @for (task of filteredTasksByStatus(status); track task.uuid) {
        <div class="task-wrapper" cdkDrag [cdkDragData]="task" [style.border-left]="'3px solid ' + project()?.color">
          <div class="wrapper-main">
            <div class="task-main">
              <p>{{ task.title }}</p>
            </div>
            <div class="task-options">
              <button (click)="toggleTaskDescription(task.uuid!)">+</button>
            </div>
          </div>

          @if (openedTaskUUID() === task.uuid) {
            <div class="wrapper-desc">
              <p>{{ task.description }}</p>
              <div class="priority-term">
                <span>Срок: {{ task.term | date: 'dd.MM.yyyy' }}</span>
                <span>Приоритет: {{ task.priority }}</span>
              </div>
            </div>
          }
        </div>
      }

      @if (status === 'todo' && !openModalAdd()) {
        <button class="add-btn" (click)="isOpenModal()">
          {{ 'ADD_TASK' | translate }}
        </button>
      }
    </div>
  }
</div>

@if (openModalAdd()) {
  <features-create-task
    [uuid]="uuid() ?? null"
    [(isOpenModal)]="openModalAdd"
  />
}
