<div class="modal-create">
  <div class="modal-create__wrapper">
    <div class="modal-create__header">
      <h3>{{ 'ADD_PROJECT' | translate }}</h3>

      <button class="btn-icon" (click)="onClose()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path fill="currentColor"
                d="M5.146 5.146a.5.5 0 0 1 .708 0L12 11.293l6.146-6.147a.5.5 0 0 1 .638-.057l.07.057a.5.5 0 0 1 0 .708L12.707 12l6.147 6.146a.5.5 0 0 1 .057.638l-.057.07a.5.5 0 0 1-.708 0L12 12.707l-6.146 6.147a.5.5 0 0 1-.638.057l-.07-.057a.5.5 0 0 1 0-.708L11.293 12 5.146 5.854a.5.5 0 0 1-.057-.638z"></path>
        </svg>
      </button>
    </div>

    <form class="modal-create__form">
      <div class="input-group">
        <h2>{{ 'NAME' | translate }}</h2>
        <input type="text" class="auth-input" [(ngModel)]="projectName"
               name="projectName">
      </div>

      <div class="input-group">
        <h2>{{ 'COLOR' | translate }}</h2>
        <div class="color-selector">
          <div class="color-options">
            @for (color of colors(); track color) {
              <input type="radio" name="color" [id]="'color' + $index" [value]="color"
                     [checked]="color === selectedColor()" (change)="selectedColor.set(color)">
              <label [for]="'color' + $index" [style.background-color]="color"></label>
            }
          </div>
        </div>

        <div class="btns-group">
          <button type="submit" [disabled]="!projectName().trim()" (click)="createProject()">{{ 'CREATE' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
