<div class="sidebar-container" [class.sidebar-open]="isSidebarOpen">
  <div class="sidebar-container__top">
    <div class="top-logo">
      <a routerLink="/">
        <h2>Flow Mind</h2>
      </a>
    </div>
    <div class="top-links">
      <ul>
        @for (link of links(); track link) {
          <li>
            <a [routerLink]="link.href">
              <span [innerHTML]="getSafeIcon(link.icon)"></span>
              {{ link.label | translate }}</a>
          </li>
        }
      </ul>
    </div>

    <div class="top-projects">
      <a href="#">{{ "MY_PROJECTS" | translate }}</a>
      <div class="top-projects-btns">
        <button class="btn-icon" (click)="openCreateModal()">
          <svg width="13" height="13">
            <path fill="currentColor" fill-rule="evenodd"
                  d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1z"></path>
          </svg>
        </button>

      </div>
    </div>


    <div class="top-toggle-projects" [@slideInOut]>
        @for (project of projects(); track project) {
            <a [routerLink]="['', project.uuid]">
              <div class="projects" [ngStyle]="{ backgroundColor: project.color }">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"
                     class="Fego6xD">
                  <path fill="currentColor" fill-rule="evenodd"
                        d="M15.994 6.082a.5.5 0 1 0-.987-.164L14.493 9h-3.986l.486-2.918a.5.5 0 1 0-.986-.164L9.493 9H7a.5.5 0 1 0 0 1h2.326l-.666 4H6a.5.5 0 0 0 0 1h2.493l-.486 2.918a.5.5 0 1 0 .986.164L9.507 15h3.986l-.486 2.918a.5.5 0 1 0 .987.164L14.507 15H17a.5.5 0 1 0 0-1h-2.326l.667-4H18a.5.5 0 1 0 0-1h-2.493zM14.327 10H10.34l-.667 4h3.987z"
                        clip-rule="evenodd"></path>
                </svg>
                <span>{{ project.title }}</span>
              </div>
            </a>
        }
    </div>
  </div>

  <div class="sidebar-container__bottom">
    <div class="bottom-btns">
      <layout-theme-toggle/>
      <layout-translation/>
    </div>
  </div>
</div>

<button class="hamburger-menu" (click)="toggleSidebar()" [class.sidebar-open]="isSidebarOpen">
  @if (sidebarOpen()) {
    <svg viewBox="0 0 24 24" width="30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z"
              fill="currentColor"></path>
      </g>
    </svg>
  } @else {
    <svg viewBox="0 0 24 24" width="30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M4 18H10" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M4 12L16 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M4 6L20 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
      </g>
    </svg>
  }
</button>

@if (openModal()) {
  <features-modal-create-project (closeModal)="openModal.set(false)"/>
}
