.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97vh;
  position: fixed;
  background-color: var(--sidebar-background);
  width: var(--sidebar-width);
  padding: 1.25rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 10px;
  margin: 10px;
  &__top {
    .top-logo {
      h2 {
        font-size: 1.875rem;
        font-weight: bold;
        font-family: "Jura", sans-serif;
      }
    }

    .top-links {
      margin-top: 1.25rem;

      a {
        gap: 1rem;
        display: flex;
      }
    }

    .top-toggle-projects {
      margin-top: 1.25rem;
      display: flex;
      gap: 0.4375rem;
      flex-direction: column;
      max-height: 28.125rem;
      overflow-y: auto;
      padding-right: 0.375rem;
      scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
      scrollbar-width: thin;
    }

    .projects {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 0.25rem;
      padding: 0.3125rem  0px;

      span {
        font-size: 0.9375rem;
      }
    }
  }

  &__bottom {
    .bottom-btns {
      gap: 0.9375rem;
      display: flex;
      flex-direction: column;
    }
  }

  .top-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.875rem;

    .top-projects-btns {
      display: flex;
      gap: 0.9375rem;
    }
  }

}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .sidebar-container {
    transform: translateX(-110%);
  }

  .sidebar-container.sidebar-open {
    transform: translateX(0);
  }

  .hamburger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1100;
    background: var(--sidebar-background);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
  }

  .top-toggle-projects {
    max-height: 14.6875rem;
    overflow-y: auto;
    padding-right: 0.375rem;
  }
}
