<div class="auth-container">
  <form class="auth-container__form" [formGroup]="authForm" (submit)="onSubmit()">
    <div class="auth-container__header">
      <h3>{{'LOGIN_TO_ACCOUNT' | translate}}</h3>
    </div>

    <div class="input-group">
      <input type="text" class="auth-input" placeholder="User Name" formControlName="username">
    </div>

    <div class="input-group">
      <input type="password" class="auth-input" placeholder="Password" formControlName="password">
    </div>

    <div class="btns-group">
      <button class="auth-button">{{'LOGIN' | translate}}</button>
      <a routerLink="/auth/register">{{'REGISTER' | translate}}</a>
    </div>
  </form>
</div>

@if(isLoading()) {
  <uc-loader />
}
